/* Variables de colores */
:root {
    --secondary-blue: #3f497f;
    --hover-blue: #004a90b6;
    --white: #ffffff;
}

/* Carrusel Styles */
.carrusel {
  position: relative;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 1rem;
  padding: 1rem 3rem; /* espacio para flechas */
}

.carrusel::-webkit-scrollbar {
  display: none;
}

/* Flechas del carrusel */
.carrusel-holder {
  position: relative;
}

.carrusel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--secondary-blue);
  color: var(--white);
  border: none;
  padding: 0.75rem;
  cursor: pointer;
  border-radius: 50%;
  z-index: 10;
}

.carrusel-btn:hover {
  background-color: var(--hover-blue);
}

.carrusel-btn.prev {
  left: 0.5rem;
}

.carrusel-btn.next {
  right: 0.5rem;
}