/* Variables de colores */
:root {
    --primary-blue: #2e3b80;
    --secondary-blue: #3f497f;
    --hover-blue: #004a90b6;
    --white: #ffffff;
}

/* Header Styles */
header {
    background-color: var(--primary-blue);
    color: var(--white);
    text-align: center;
    /* fijo el header arriba en la pantalla */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

/* Nav Styles */
header nav ul {
    justify-content: center;
    list-style: none;
    display: flex;
    gap: 1.5rem;
    padding: 0;
    margin: 0;
}

header nav a {
    color: var(--white);
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    transition: background-color 0.3s;
}

header nav a:hover {
    background-color: var(--hover-blue);
}

nav {
    background-color: var(--secondary-blue);
    padding: 1rem;
    overflow-x: auto;
}

.nav-container {
    display: flex;
    flex-wrap: nowrap;  /* evita que salte a la siguiente fila */
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    overflow-y: hidden;
    display: flex;
    padding: 0.5rem;
    gap: 1rem;
    overflow-x: auto;
    white-space: nowrap;
    flex: 1;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 1rem;
    flex-shrink: 0; /* evita que se achiquen demasiado */
}

nav a:hover {
    background-color: var(--hover-blue);
}

.nav-search {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.nav-search input {
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
}

.hidden {
  display: none;
}