/* Fondo transparente para poder cerrar el menú al hacer click afuera */
.overlay {
  position: fixed;
  inset: 0;
  background: transparent;
  z-index: 90;
}

/* Menú flotante */
.dropdown {
  position: absolute;
  top: 80px; /* justo debajo del header */
  left: 80%;
  transform: translateX(-50%);

  width: 200px;
  background: var(--surface-color);
  border: 1px solid var(--border-color);
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 6px 18px var(--primary-color);
  z-index: 100;
}

.dropdown ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdown li {
  padding: 0.6rem 0;
  cursor: pointer;
  border-bottom: 1px solid var(--border-color);
}

.dropdown li:last-child {
  border-bottom: none;
}

.dropdown li:hover {
  color: var(--text-secondary);
  font-weight: bold;
}