.header {
  background: var(--primary-color);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search {
  display: flex;
  align-items: center;
}

.search input {
  padding: 0.65rem;
  border: 1px solid var(--border-color);
  border-radius: 8px;
}

.search button {
  margin-left: 0.5rem;
  background-color: var(--background-color);
  color: var(--text-color);
}